.mymasonrygrid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -8px; /* gutter size offset */
    width: auto;
  }
  .mymasonrygrid_column {
    padding-left: 8px; /* gutter size */
    background-clip: padding-box;
  }